$lighter: #9CCC65; // light blue
$dark: #558B2F; // dark blue
$darker: #33691E; // really dark blue
$brand: #8BC34A; // electric blue
$brandLight: #ececec;
$text: #1a1a1a; // very dark grey / black substitute
$subtle: #6d6d6d; // light grey for text
$subtleOnDark: #999;
$divider: #ececec; // very light grey
$note: #ffe564; // yellow
$error: #ff6464; // yellow
$white: #ffffff;
$black: #000000;